databases:
  - name: taskleaf_db
    plan: free
    # ipAllowList: []
    databaseName: taskleaf_db
    user: taskleaf_db_user
    region: singapore

services:
  - type: web
    name: Rails_deploy_test
    env: ruby
    region: singapore
    plan: free
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: taskleaf_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false

