databases:
  - name: postgres
    ipAllowList: []
    # databaseName: rails_test
    # user: jun
    # region: singapore

services:
  - type: web
    name: Rails_deploy_test
    env: ruby
    region: singapore
    plan: free
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false

